{% extends "base.html" %}

{% block title %} Cached URLs {% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="row g-0">
    <div class="col-md-5 mx-auto">

        <div class="row g-0">
            <div class="col-md-auto mx-auto">
                <h3>Fill the form to select news to read</h3>
            </div>
        </div>
        <br>

        <form class="container" method="GET" action=" {% url 'read_news' %} ">
            <div class="add_form">
                {{choice_form.as_p}}
            </div>
            <div class="row g-0">
                <div class="col-md-auto mx-auto">
                    <button type="submit" class="btn btn-primary">Read News</button>
                </div>
            </div>
        </form>
    </div>

        <div class="col-md-5 mx-auto">
            <div class="row g-0">
                <div class="col-md-auto mx-auto">
                    <h3>Add another rss URL</h3>
                </div>
            </div>
        <br>

            <form action=" {% url 'add_news' %} " method='post'>
                {% csrf_token %}

                <div class="add_form">
                    {{add_form.as_p}}
                </div>

                <div class="row g-0">
                    <div class="col-md-auto mx-auto">
                        <button type="submit" class="btn btn-primary">Track feed</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<br>
<div class="row g-0">
    <div class="col-md-auto mx-auto">
        <h3>Currently tracking news from RSS channels:</h3>
    </div>
</div>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">

{% for obj in object_list %}
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                <h5> {{obj}}</h5>
            </div>
    <div class="card-body text-center">
        <p class="card-text">{{ obj.url }}</p>
    </div>
        </div>
    </div>
{% empty %}
<h4>No tracked feeds yet</h4>

{% endfor %}

</div>
{% endblock %}
