{% extends "base.html" %}

{% block title %} Find news {% endblock %}

{% block content %}
<div class="row">
    <div class="row g-0">
    <div class="col-md-5 mx-auto">
        <h3>Fill the form to read news from RSS feed</h3>
        <form class="container" method="GET" action=" {% url 'read_fresh_news' %} ">
            <div class="add_form">
                {{choice_form.as_p}}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Read News</button>
        </form>
    </div>
    </div>
</div>
<br>
<br>


{% endblock %}
