{% extends "base.html" %}

{% block title %} News {% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col">
<h3>Feed title: {{ feed_title.feed_title }} </h3>
<h5>Feed description: {{ feed_title.feed_description }} </h5>
<h5>Feed link: {{ feed_title.feed_link }} <a href="news.feed_link"></a> </h5>
{% if feed_title.feed_pubDate %}
    <h4>Last update: {{ feed_title.feed_pubDate }} </h4>
{% endif %}
    </div>
        <div class="col">
            <form action=" {% url 'news_html' %} " method='post' id='htmlForm'>
                {% csrf_token %}
                <div class="btn-group-vertical w-75">
                    <button type="submit" name="news" value="{{ news }}" form="htmlForm" class="btn btn-primary btn-lg btn-block">Save as HTML</button>
                </div>
            </form>
            <br>
            <form action=" {% url 'news_pdf' %} " method='post' id='pdfForm'>
                {% csrf_token %}
                <div class="btn-group-vertical w-75">
                    <button type="submit" name="news" value="{{ news }}" form="pdfForm" class="btn btn-primary btn-lg btn-block">Save as PDF</button>
                </div>
            </form>
        </div>
</div>
<br>

<h5>
<div class="row">
    <div class="col-md-auto mx-auto">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page=1">&laquo; first</a>
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
</div>
</h5>

<br>
{% for news in page_obj %}
{% for item, value in news.items %}
<div class="card mb-3" style="max-width: 1920px;">
    <div class="row g-0">
        {% if value.media %}
        <div class="col-md-4">
            <img src="{{ value.media.url }}" class="img-fluid rounded-start" alt="Image here">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> {{ value.title }} </h5>
                <p class="card-text">{{ value.pubDate }}</p>
                <br>
                <p class="card-text" style="font-size: 18px">{{ value.description }}</p>
                <p><a href="{{ value.link }}">Link: {{ value.link }} </a></p>
                <p><a href="{{ value.media.url }}">Media link: {{ value.media.url }} </a></p>
            </div>
        </div>
        {% else %}
        <div class="col-md-auto">
            <div class="card-body">
                <h5 class="card-title"> {{ value.title }} </h5>
                <p class="card-text">{{ value.pubDate }}</p>
                <br>
                <p class="card-text">{{ value.description }}</p>
                <p><a href="{{ value.link }}">Link: {{ value.link }} </a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% empty %}
<h4>No news found for you</h4>
{% endfor %}
{% endfor %}

<div class="row">
    <div class="col-md-auto mx-auto">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page=1">&laquo; first</a>
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?url={{ url }}&date={{ date }}&limit={{ limit }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
</div>
<br>
<br>
{% endblock %}
