{% extends "base.html" %}

{% block title %} Start {% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-auto mx-auto">
       <h1>
           Welcome to RSS Reader web service
       </h1>
     </div>
</div>
<br>

<div class="row">
    <div class="col-md-auto mx-auto">
       <h4>
          The RSS Reader has been created as a final task for graduating EPAM March 2022 Python Foundation course.
           Following functions are currently implemented:
           <h5>
           <p>- One-shot conversion from RSS to Human readable format</p>
           <p>- Server-side news caching</p>
           <p>- Conversion of news to HTML and PDF formats</p>
           <p>- Adding new RSS sources using API</p>
           <p>- User registration and authentication using email</p>
           <p>- User settings changes and user deletion with success messages</p>
           <p>- Navigation bar</p>
           </h5>
       </h4>
     </div>
</div>
<br>

<div class="row">
    <div class="col-md-auto mx-auto">
        <h4>
            To read news from a URL press here
       </h4>
        <br>
        <div class="row">
            <div class="col-md-auto mx-auto">
                <form action="{% url 'fresh_news' %}">
                    <button type="submit" class="btn btn-primary btn-lg">Get fresh news</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-md-auto mx-auto">
        <h4>
           To read cached news from tracked URLs press here
       </h4>
        <br>
        <div class="row">
            <div class="col-md-auto mx-auto">
                <form action="{% url 'fresh_news' %}">
                    <button type="submit" class="btn btn-primary btn-lg">Get cached news</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
