{% extends "base.html" %}

{% block title %} Error {% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-auto mx-auto">
       <h1>
           Welcome to RSS Reader web service
       </h1>
     </div>
</div>
<br>

<div class="row">
    <div class="col-md-auto mx-auto">

       <h4>
          <p> Please login to use service</p>
       </h4>
        <form action="" method='POST'>
            {% csrf_token %}
            <h5>
                <div class="add_form">
                    {{form.as_p}}
                </div>
            </h5>
            <div class="row g-0">
                <div class="col-md-auto mx-auto">
                    <button type="submit" class="btn btn-primary btn-lg">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>


{% endblock %}
