{% extends "base.html" %}

{% block title %} Start {% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-auto mx-auto">
       <h1>
           Welcome, new RSS Reader user {{ new_user.email }}
       </h1>
     </div>
</div>
<br>

<div class="row">
    <div class="col-md-auto mx-auto">

        <h5>
            <p>You have been registered in our system, now you can log in</p>
        </h5>
        <div class="row">
            <div class="col-md-auto mx-auto">
                <form action="{% url 'login' %}">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>

     </div>
</div>
<br>


{% endblock %}

